@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

html {
  background-color: #f0f7fc;
  color: #334155;
}

body {
  background-color: #f0f7fc;
  color: #334155;
  min-height: 100vh;
}
